{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block styles %}
<style>
    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        max-width: 400px;
    }

    .card-header {
        background-color: #007bff;
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .card-body {
        padding: 30px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    input[type=text],
    input[type=password] {
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    button[type=submit] {
        background-color: #007bff;
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

    button[type=submit]:hover {
        background-color: #0062cc;
    }

    .alert-danger {
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #f5c6cb;
        border-radius: 4px;
    }

    .dark-mode .login-container {
        background-color: #222;
    }

    .dark-mode .card-header {
        background-color: #333;
    }

    .dark-mode .card-body {
        background-color: #444;
    }

    .dark-mode input[type=text],
    .dark-mode input[type=password] {
        background-color: #333;
        color: #fff;
    }

    .dark-mode button[type=submit] {
        background-color: #000;
    }

    .toggle-button {
        background-color: transparent;
        border: 1px solid #000000;
        border-radius: 4px;
        cursor: pointer;
        color: #000000;
        font-size: 16px;
        padding: 10px 20px;
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="login-container {% if dark_mode %}dark-mode{% endif %}">
    <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
            {% if error_message %}
                <div class="alert alert-danger" role="alert">{{ error_message }}</div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Nome de usuário:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            <button class="toggle-button {% if dark_mode %}dark-mode{% endif %}">Mudar Tema</button>
        </div>
    </div>
</div>

<script>
    const toggleButton = document.querySelector('.toggle-button');

    toggleButton.addEventListener('click', () => {
        document.body.classList.toggle('dark-mode');
        toggleButton.classList.toggle('dark-mode');
        const loginContainer = document.querySelector('.login-container');
        loginContainer.classList.toggle('dark-mode');
    });
</script>
{% endblock %}
